---
layout: default
title: Articoli
---
<main>

<div class="bg-dark text-secondary px-4 py-5 text-center"> <div class="py-5"> <h1 class="display-5 fw-bold text-white">Jonez</h1> <div class="col-lg-6 mx-auto text-white"> <p class="fs-5 mb-4">Benvenuti nel sito Jonez! L'amministrazione, blog, servizi e progetti tutto in un unico posto</p> <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> <a href="{{ site.url }}/dipartimenti/centrale/"><button type="button" class="btn btn-outline-light btn-lg px-4">Amministrazione</button></a> </div> </div> </div> </div><br>


<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Organizzazione</th>
      <th scope="col">Amministrazione</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jonez</td>
      <td><a href="{{ site.url }}/dipartimenti/centrale/">Amministrazione Centrale</a></td>
      <td><a href="{{ site.url }}/jonez/">@AGFO</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>AGFO</td>
      <td><a href="{{ site.url }}/dipartimenti/agfo/">Amministrazione AGFO</a></td>
      <td><a href="{{ site.url }}/progetti/php/agfo/">@AGFO</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>UPID</td>
      <td><a href="{{ site.url }}/dipartimenti/centrale/seconda/">Seconda Amministrazione</a></td>
      <td><a href="{{ site.url }}/progetti/php/upid/">@UPID</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Stampa & Comunicazione</td>
      <td><a href="{{ site.url }}/dipartimenti/stampa/">Dipartimento Stampa</a></td>
      <td><a href="{{ site.url }}/dipartimenti/stampa/">@Stampa</a></td>
    </tr>
  </tbody>
</table>
</div>








<br><div class="bg-dark text-primary px-4 py-5"> <div class="py-5 container"> <h1 class="display-5 fw-bold text-white">Jonez</h1> <div class="col-lg-6 mx-auto text-white"></div> </div> </div><br>


<div class="container my-5">
  <div class="row g-4">
    <!-- Colonna sinistra -->
    <div class="col-md-6">
      <div class="card shadow mb-3">
        <div class="text-center">
          <i class="bi bi-emoji-smile-fill fs-1 mb-2"></i>
          <h5 class="card-title">Infanzia</h5>
        </div>
      </div>
      <div class="card shadow mb-3">
        <div class="text-center">
          <i class="bi bi-laptop-fill fs-1 mb-2"></i>
          <h5 class="card-title">Innovazione digitale</h5>
        </div>
      </div>
      <div class="card shadow mb-3">
        <div class="text-center">
          <i class="bi bi-people-fill fs-1 mb-2"></i>
          <h5 class="card-title">Civica</h5>
        </div>
      </div>
    </div>

    <!-- Colonna destra -->
    <div class="col-md-6">
      <div class="card shadow mb-3">
        <div class="text-center">
          <i class="bi bi-file-earmark-text-fill fs-1 mb-2"></i>
          <h5 class="card-title">Amministrazione</h5>
        </div>
      </div>
      <div class="card shadow mb-3">
        <div class="text-center">
          <i class="bi bi-folder-fill fs-1 mb-2"></i>
          <h5 class="card-title">FOIA</h5>
        </div>
      </div>
      <div class="card shadow mb-3">
        <div class="text-center">
          <i class="bi bi-stars fs-1 mb-2"></i>
          <h5 class="card-title">Altre</h5>
        </div>
      </div>
    </div>
  </div>
</div>























</main>
